/********************************************
	CUSTOM STYLES
********************************************/
@media (max-width: 1025px) {
  .projects {
    margin-top: 50px; } }

@media (max-width: 768px) {
  .projects {
    margin-top: 100px; } }

@media (max-width: 480px) {
  .projects {
    margin-top: 150px; } }

.project {
  text-align: center;
  margin-top: 60px;
  padding: 0 40px;
  color: #000; }
  .project .project-header {
    text-align: center; }
    .project .project-header img {
      max-width: 100%; }
  .project .project-date {
    color: #00baff; }
  .project .project-name h1 {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    color: #00baff;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 10px; }
    @media (max-width: 480px) {
      .project .project-name h1 {
        font-size: 5vw; } }
  .project .project-category {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #575757; }
  .project .project-subtitle {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 300;
    color: #575757;
    font-size: 14px;
    display: block; }
  .project .project-divider {
    max-width: 480px;
    margin: 20px auto;
    display: block;
    border-bottom: 0;
    border-top: 1px solid #eee; }
  .project .project-about-container {
    max-width: 480px;
    margin: 40px auto 0; }
    .project .project-about-container .project-about {
      text-align: justify;
      font-family: sans-serif;
      line-height: 1.6em;
      font-size: 16px;
      margin-bottom: 10px;
      padding-right: 10px;
      color: #000;
      font-weight: 300; }
  .project .project-description-container {
    max-width: 480px;
    margin: auto;
    margin-bottom: 20px; }
    .project .project-description-container .project-description {
      text-align: justify;
      font-family: sans-serif;
      line-height: 1.6em;
      font-size: 16px;
      margin-bottom: 10px;
      padding-right: 10px;
      font-weight: 300;
      color: #575757;
      color: #000; }
  .project .project-link a {
    border-bottom: 1px dotted #388eff; }
  .project .project-images-container {
    text-align: center; }
    .project .project-images-container .project-image {
      max-width: 100%;
      margin-top: 60px;
      margin-bottom: 60px;
      display: inline-block;
      box-shadow: 0 0 50px rgba(49, 172, 255, 0.2); }
  .project .project-my-work-container {
    max-width: 480px;
    margin: 20px auto; }
    .project .project-my-work-container .project-my-work {
      text-align: justify;
      font-family: sans-serif;
      line-height: 1.6em;
      font-size: 16px;
      margin-bottom: 10px;
      padding-right: 10px;
      color: #000;
      font-weight: 300; }
  .project .project-tags-container {
    max-width: 480px;
    margin: 20px auto; }
    .project .project-tags-container .project-tags {
      margin-top: 20px; }

.carousel .carousel-status {
  color: #000;
  text-shadow: none; }

.carousel ul {
  padding-left: 0; }

.carousel.carousel-slider .control-arrow.control-prev {
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 0;
  width: 60px; }
  .carousel.carousel-slider .control-arrow.control-prev:before {
    position: fixed;
    left: 5px;
    top: 50%;
    margin: 0 5px;
    display: inline-block;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    content: "";
    border-right: 20px solid white;
    z-index: 1; }

.carousel.carousel-slider .control-arrow.control-next {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 0;
  width: 60px; }
  .carousel.carousel-slider .control-arrow.control-next:before {
    position: fixed;
    right: 5px;
    top: 50%;
    margin: 0 5px;
    display: inline-block;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    content: "";
    border-left: 20px solid white;
    z-index: 1; }
