.skill-graph-container {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap; }
  .skill-graph-container:after {
    content: '';
    clear: both;
    display: block; }
  .skill-graph-container .skill-graph {
    float: left;
    width: 100%;
    position: relative;
    padding: 10px; }
    .skill-graph-container .skill-graph:after {
      content: '';
      clear: both;
      display: block; }
    @media (max-width: 480px) {
      .skill-graph-container .skill-graph {
        margin-bottom: 40px; } }
    @media (min-width: 480px) {
      .skill-graph-container .skill-graph {
        width: 100%; } }
    @media (min-width: 768px) {
      .skill-graph-container .skill-graph {
        width: 50%; } }
    @media (min-width: 1025px) {
      .skill-graph-container .skill-graph {
        width: 50%; } }
    .skill-graph-container .skill-graph.clickable .skill-graph-title {
      cursor: pointer; }
      .skill-graph-container .skill-graph.clickable .skill-graph-title:hover h1:after {
        background-color: #00baff;
        color: white;
        border-color: transparent; }
      .skill-graph-container .skill-graph.clickable .skill-graph-title h1 {
        color: #00baff; }
        .skill-graph-container .skill-graph.clickable .skill-graph-title h1:after {
          content: "?";
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          margin-left: 10px;
          height: 20px;
          width: 20px;
          font-size: 12px;
          line-height: 19px;
          font-weight: 700;
          border: 1px solid #ddd;
          border-radius: 50%;
          transition: all .3s ease-in-out; }
  .skill-graph-container .skill-graph-image {
    position: relative; }
    @media (max-width: 480px) {
      .skill-graph-container .skill-graph-image {
        margin-bottom: 20px; } }
    @media (min-width: 480px) {
      .skill-graph-container .skill-graph-image {
        float: left;
        width: 25%; } }
    @media (min-width: 768px) {
      .skill-graph-container .skill-graph-image {
        width: 25%; } }
    @media (min-width: 1025px) {
      .skill-graph-container .skill-graph-image {
        width: 25%; } }
    .skill-graph-container .skill-graph-image .skill-level-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 10; }
    .skill-graph-container .skill-graph-image .skill-level-label {
      font-weight: 300;
      color: #575757;
      font-size: 8px;
      text-transform: uppercase; }
    .skill-graph-container .skill-graph-image .graph-item {
      position: relative; }
      @media (max-width: 480px) {
        .skill-graph-container .skill-graph-image .graph-item {
          max-width: 150px;
          margin: auto; } }
      .skill-graph-container .skill-graph-image .graph-item svg {
        position: relative;
        z-index: 1; }
      .skill-graph-container .skill-graph-image .graph-item:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        border: 10px solid #eee; }
  .skill-graph-container .skill-graph-text {
    text-align: left; }
    @media (min-width: 480px) {
      .skill-graph-container .skill-graph-text {
        float: left;
        padding: 0 20px;
        width: 75%; } }
    @media (min-width: 768px) {
      .skill-graph-container .skill-graph-text {
        width: 75%; } }
    @media (min-width: 1025px) {
      .skill-graph-container .skill-graph-text {
        width: 75%; } }
    .skill-graph-container .skill-graph-text .skill-graph-title h1 {
      margin-top: 0;
      font-family: sans-serif;
      font-weight: 700;
      font-size: 24px;
      color: #000;
      margin-bottom: 10px;
      display: inline-block;
      vertical-align: middle; }
    .skill-graph-container .skill-graph-text .skill-graph-description {
      font-family: sans-serif;
      line-height: 1.6em;
      font-size: 16px;
      margin-bottom: 10px;
      padding-right: 10px;
      font-weight: 300;
      color: #575757;
      color: #000; }
  .skill-graph-container svg path {
    stroke: #00baff; }
