@import "./../../variables.scss";
@import "./../../mixins.scss";

.skills {
    margin-bottom: 40px;
}

/* default skill layout */

.skills .skill {
    margin-bottom: 5px;
}

.skill .skill-name  {}

.skill-percentage {
    height: 6px;
    width: 100%;
    background-color: $background-color-primary;
    border: 1px solid $border-color-primary;
    border-radius: 5px;
}

.skill-percentage-fill {
    height: 100%;
    background-color: $brand-color-light;
}

/* Inline skill layout */

.skill-inline {
    margin-bottom: 10px;
}

.skill-inline:after {
    content: "";
    clear: both;
    display: block;
}

.skill-inline .skill-name-container {
    float: left;
    width: 20%;
}

.skill-inline .skill-name {
    padding-right: 10px;
    word-break: break-all;
    display: inline-block;
    vertical-align: middle;
    @include body-text;
    line-height: normal;
}

.skill-inline .skill-percentage-container {
    float: left;
    width: 80%;
}

.skill-inline .skill-percentage {
    height: 6px;
    background-color: $border-color-primary;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}

.skill-inline .skill-percentage-fill {
    transition: width .6s ease-in-out;
    width: 0;
    background-color: $brand-color-light;
}
