.daily-container:after {
  content: '';
  clear: both;
  display: block; }

.daily-container .month-container {
  margin-bottom: 60px; }
  .daily-container .month-container:after {
    content: '';
    clear: both;
    display: block; }
  @media (max-width: 1025px) {
    .daily-container .month-container {
      padding-left: 20px;
      padding-right: 20px; } }

.daily-container .daily-item {
  position: relative;
  float: left;
  width: 33.333333%; }
  @media (max-width: 768px) {
    .daily-container .daily-item {
      width: 50%; } }
  @media (max-width: 480px) {
    .daily-container .daily-item {
      width: 100%; } }
  .daily-container .daily-item:hover {
    z-index: 99; }
    .daily-container .daily-item:hover .daily-image {
      box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.5); }
    .daily-container .daily-item:hover .day {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 12px; }
  .daily-container .daily-item .daily-image {
    max-width: 100%;
    border: 5px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    display: block; }
  .daily-container .daily-item .daily-month-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: none; }
  .daily-container .daily-item .month-initial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    color: #eee;
    z-index: 1;
    font-weight: 900;
    transition: all 0.4s ease-in-out;
    user-select: none; }
  .daily-container .daily-item .day {
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: white;
    color: #000;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    font-size: 10px;
    transition: all .2s ease-in-out;
    font-weight: 700; }

.daily-container .daily-item-month:hover .daily-image {
  box-shadow: none; }

.daily-container .daily-item-month:hover .month-initial {
  color: #4fd0ff;
  font-size: 140px; }

.daily-container .daily-item-month .daily-image {
  box-shadow: none; }

.daily-header {
  text-align: center;
  margin-bottom: 60px;
  margin-top: -300px; }
  .daily-header .daily-header-description {
    font-family: sans-serif;
    line-height: 1.6em;
    font-size: 16px;
    margin-bottom: 10px;
    padding-right: 10px;
    color: #000;
    font-weight: 300;
    z-index: 1;
    position: relative;
    color: white;
    margin-bottom: 40px; }
    .daily-header .daily-header-description a {
      font-weight: 700; }
    @media (max-width: 480px) {
      .daily-header .daily-header-description {
        display: none; } }
  .daily-header .daily-header-callout:after {
    content: '';
    clear: both;
    display: block; }
  .daily-header .daily-header-callout-title {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000; }
  .daily-header .daily-header-callout-subtitle {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #00baff;
    color: white; }
  .daily-header .daily-header-callout-item {
    float: left;
    width: 33.3%;
    margin-top: 40px; }
    @media (max-width: 768px) {
      .daily-header .daily-header-callout-item {
        width: 100%; } }
  .daily-header .daily-header-callout-item-number {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto 40px;
    line-height: 150px;
    background-color: #00baff;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    color: #00baff;
    font-size: 36px;
    margin-top: 0;
    color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4); }
  .daily-header .daily-header-callout-item-title {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #00baff;
    text-transform: uppercase; }
  .daily-header .daily-header-callout-item-description {
    font-family: sans-serif;
    line-height: 1.6em;
    font-size: 16px;
    margin-bottom: 10px;
    padding-right: 10px;
    font-weight: 300;
    color: #575757; }
