@import "./../../variables.scss";
@import "./../../mixins.scss";

.main-navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 20px;

    .desktop-navigation {
        @include clearfix;

        .main-navigation-links {
            float: right;
            height: 50px;
            line-height: 50px;

            @media (max-width: $tablet-min) {
                display: none;
            }

            li {
                display: inline-block;
            }

            .nav-button {
                padding: 10px 20px;
                border-radius: 30px;
                background-color: $brand-color-dark;

                @media (max-width: $phone-max) {
                    padding: 10px;
                }

                @media (max-width: $phone-min) {
                    padding: 5px;
                    font-size: 14px;
                }
            }
        }
    }

    .mobile-navigation {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        background: linear-gradient(to bottom, $brand-color-light, transparent);

        @media (min-width: $tablet-min) {
            display: none;
        }

        .mobile-navigation-links {
            padding-top: 60px;
            //background-color: transparent;
            transition: background-color .5s ease-in-out, transform .2s ease-in-out;
            //transform: scaleY(0);
            transform-origin: top;
            overflow: hidden;
            max-height: 0;

            &.open {
                opacity: 1;
                //background-color: rgba(0, 0, 0, 0.4);
                max-height: 1000px;

                li {
                    opacity: 1;
                    border-top: 1px solid rgba(255, 255, 255, 0.1);
                    background-color: rgba(0, 0, 0, 0.3);
                }
            }

            li {
                opacity: 0;
                transform-origin: top;
                display: block;
                border-top: 1px solid transparent;
                padding: 0;

                &:nth-child(1) {
                    transition: opacity .4s .1s ease-in-out, background-color .4s ease-in-out;
                }

                &:nth-child(2) {
                    transition: opacity .4s .3s ease-in-out, background-color .4s ease-in-out;
                }

                &:nth-child(3) {
                    transition: opacity .4s .5s ease-in-out, background-color .4s ease-in-out;
                }

                &:nth-child(4) {
                    transition: opacity .4s .7s ease-in-out, background-color .4s ease-in-out;
                }

                &:nth-child(5) {
                    transition: opacity .4s .9s ease-in-out, background-color .4s ease-in-out;
                }

                &:hover {
                    background-color: $brand-color-light;
                }

                a {
                    display: block;
                    padding: 20px 20px 20px 30px;
                    position: relative;

                    &.active {
                        .active-bar {
                            width: 5px;
                            height: 5px;
                            transform: translate(-50%, -50%) scale(1);
                        }
                    }

                    .active-bar {
                        height: 0;
                        position: absolute;
                        top: 50%;
                        left: 15px;
                        transform: translate(-50%, -50%) scale(0);
                    }
                }

                button {
                    padding: 20px 20px 20px 30px;
                    display: block;
                    width: 100%;
                    text-align: left;

                    &:hover {
                        background-color: $brand-color-light;
                    }
                }
            }
        }
    }

    ul {
        padding-left: 0;
        margin: 0;

        &.main-navigation-branding {
            float: left;
            height: 50px;
            line-height: 50px;

            @media (max-width: $phone-max) {
                position: fixed;
                top: 5px;
                z-index: 9999;
            }

            li {
                display: block;
            }
        }

        li {
            color: white;
            padding: 0 20px;

            @media (max-width: $phone-max) {
                padding: 0 10px;
            }

            @media (max-width: $phone-min) {
                padding: 0 5px;
                font-size: 14px;
            }

            a {
                display: inline-block;
                color: white;

                &.active {
                    .active-bar {
                        transform: scaleX(1);
                    }
                }

                .nav-logo {
                    @include title-small;

                    font-size: 16px;
                    color: white;
                    font-weight: 300;
                    text-shadow: 1px 1px 10px $brand-color-darker;

                    strong {}

                    @media (min-width: $phone-max) and (max-width: $desktop-min) {
                        small {
                            display: none;
                        }
                    }

                    @media (max-width: $phone-min) {
                        font-size: 14px;
                        small {
                            display: none;
                        }
                    }

                }

                .nav-link {}

                .active-bar {
                    width: 100%;
                    height: 4px;
                    border-radius: 5px;
                    transform: scaleX(0);
                    background-color: white;
                    transition: transform 0.4s ease-in-out;
                }
            }
        }
    }

    .nav-button {
        cursor: pointer;
        border: 0;
        outline: none;
        color: white;
        line-height: normal;
        font-size: 16px;
        background-color: transparent;
    }
}


.overlay-layer {
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 999;
    display: none;
    &.open {
        display: block;
    }
}